html, body {
  font-size: 15px;
  font-family: STHeitiSC-Medium;
  color: #D19C1F;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: radial-gradient(50% 150%, #E2F9F6 50%, #C5FEF6 100%);
  background-color: #E2F9F6;
}

body {
  transition: all 0.5s ease-in-out; 
  -o-transition: all 0.5s ease-in-out; 
  -moz-transition: all 0.5s ease-in-out; 
  -webkit-transition: all 0.5s ease-in-out;
}

.col {
  float: left;
  height: 100%;
}

.col#left {
  width: 100%;
  transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.col#right {
  display: none;
  width: 0%;
}

@media (min-width: 768px) {
  .col#left, .col#right {
    width: 50%;
  }

  .col#right {
    display: block;
  }

  html, body {
    font-size: 20px;
  }
}

.info, .feature {
  padding: 40px 40px;
  text-align: center;
  position: relative;
}

.info.centered, .feature.centered {
  top: 50%;
  transform: translateY(-50%);]
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.info h1 {
  font-size: 3.5em;
  line-height: 1.1em;
  margin: 0px auto 35px auto;
}

.info #icon_link, .info #twitter_link {
  font-size: 0;
}

.info #icon_link::after {
  content: "";
  display: block;
}

.info #icon {
  width: 60%;
  max-width: 400px;
  border: 0;
}

.info #twitter {
  margin: 35px auto 0 auto;
  height: 30px;
  border: 0;
}

.info #twitter:hover {
  opacity: 0.8;
}

.feature {
  padding-left: 65px;
  padding-right: 65px;
}

.phone .hidden {
  display: none;
}

.phone .switch {
  position: absolute;
  top: 18%;
  height: 4%;
  width: 30%;
  left: 35%;
  cursor: pointer;
}

.phone .screen {
  width: 65%;
  max-width: 350px;
}

.dot {
  position: absolute;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  background-color: red;
}

.links {
  font-size: 0.6em;
  margin-top: 35px;
}

.links a {
  padding: 10px 10px;
  color: #D19C1F;
}